/* babel-plugin-relay is not able to sense the graphql statements 
extracted by the relay-compiler. https://stackoverflow.com/a/55837000/5600078 */
{
	"plugins": [
		"transform-es2015-modules-commonjs",
		[
			"relay",
			{
				"artifactDirectory": "./src/__generated__"
			}
		]
	]
}